<% errors.forEach(function(message) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Dangernpm run:"><use xlink:href="#exclamation-triangle-fill"/></svg></strong> <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% }) %>

<% success.forEach(function(message) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg></strong> <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% }) %>