
<%-include('includes/sidebar')%>
            
            <!-- Blank Start -->
            <div class="container-fluid pt-3 px-3">
                
              <!-- Form Start -->
             
              <div class="container-fluid pt-1 px-1">
                  <div class="bg-light rounded-top p-4">
              <form class="row g-3">
                  <div class="col-md-6">
                      <!--as the manager click on reply button all the information of influencer will be pre written on this page-->
                    <label for="inputEmail4" class="form-label"> Name</label>
                    <input type="text" class="form-control" id="inputEmail4" value = "<%=ticket.ticketBody%>">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label" >Influencer Id</label>
                   <!--I am writing here the information wrote by influencer will be displayed-->
                    <input type="text" class="form-control" id="inputPassword4" placeholder="<%=ticket.ticketTitle%>">
                  </div>
                  <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">G-mail Id</label>
                      <label class="visually-hidden" for="autoSizingInputGroup"></label>
                      <div class="input-group">
                        <div class="input-group-text">@</div>
                        <input type="email" class="form-control" id="autoSizingInputGroup" placeholder="kushajjkhushthobohtohongetum@gmail.com">
                      </div>
                    </div>
                    <!---->
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Campaign Associated with </label>
                      <input type="text" class="form-control" id="inputPassword4" placeholder="Nothing matters">
                    </div>
                  <div class="col-12">
                      <label for="exampleFormControlTextarea1">Description</label>
                      <!--decription will be wrote in here by influencer! manager can read it but cannot edit it-->
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Nothing matters was a great campaign but what is the use if really nothing matters is their aim! like what the hell i went their an hour before the event and expected some apprication from them, but they didn't even bothered my presence. it was fine untilthey cancle the event as if nothing matters! and when i ask them about my paycheck they handed me their templete with title 'nothing matter' and said! 'yaa' and walked by! like what the hell it was supposed to mean"></textarea>
                      
                  </div>
                  <div class="col-md-6">
                      <div id="wrapperDiv">
                      <!--here will be the files what influencer has attached so manager can choose what files to be downloaded-->
                      <div class="accordion-item" style="padding:10px;float:left">
                          <h2 class="accordion-header" id="headingThree">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                  aria-expanded="false" aria-controls="collapseThree">
                                  Files Attached
                              </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse"
                              aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                  File 1
                                  <button class="btn"><i class="fa fa-download"></i> Download</button>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item" style="padding:10px;float:left">
                          <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                  aria-expanded="false" aria-controls="collapseTwo">
                                  File Attached
                              </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse"
                              aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                 File 2
                                 <button class="btn"><i class="fa fa-download"></i> Download</button>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-12">
                  </form>
                    <form action="/answer-ticket/<%=ticket._id%>" method="POST">
                      <label for="exampleFormControlTextarea1">Answer</label>
                      <!--decription will be wrote in here by influencer! manager can read it but cannot edit it-->
                      <textarea name = "reply" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Write your respone here"></textarea>
                     
                      <button  class="btn btn-primary  float-right" >Answer</button>
                    </form>
                    </div>
                    
                  </div>          
                  </div>        
               
              <!-- Blank End -->
  </body>
</html>